<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>养护中心</title>
    <script src="//at.alicdn.com/t/font_2230809_a7ehplq4k0n.js"></script>
  </head>
  <body>
    <p></p>
    <img src="~images/20191103183412_ucmoy.jpg" alt="" />
    <img src="~icons/svg/doctor.svg" alt="" />
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-exchangerate"></use>
    </svg>
  </body>
</html>
